input.ng-valid {
    border-left: 10px solid green;
  }
  
  input.ng-invalid {
    border-left: 10px solid yellow;
  }
  
  select.ng-valid {
    border-left: 10px solid green;
  }
  
  select.ng-invalid {
    border-left: 10px solid yellow;
  }
  