<!--
This HTML template is used for editing and creating articles.
It contains a form for the article information, including title, subtitle,
category, image, abstract and body.
It also shows feedback messages and a loading message while an article is being retrieved.
-->

<!--Article Edition form  -->
<div 
  *ngIf="articleLoaded; else loading" 
  class="container py-4">

  <!--Back to all article button-->
  <a
    routerLink="/"
    class="btn btn-outline-secondary mb-3">
    ← Back to all articles
  </a>

  <h1>{{ id ? 'Edit Article' : 'Create Article' }}</h1>
  
  <!--Feedback-->
  <div *ngIf="message" class="alert alert-success mt-3">
    {{ message }}
  </div>
  
<!--Articleform with validation-->
  <form #articleForm="ngForm"> 
  
    <!-- TITLE -->
    <div class="mb-3">
      <label class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="article.title"
        #title="ngModel"
        required>
      
        <p
        *ngIf="title.invalid && title.touched"
        class="text-danger">
          Title is required.
      </p>
    </div>
  
    <!-- SUBTITLE -->
    <div class="mb-3">
      <label class="form-label">Subtitle</label>
      <input
        type="text"
        class="form-control"
        name="subtitle"
        [(ngModel)]="article.subtitle"
        #subtitle="ngModel"
        required>

      <p
        *ngIf="subtitle.invalid && subtitle.touched"
        class="text-danger">
          Subtitle is required.
      </p>
    </div>
  
    <!-- CATEGORY -->
    <div class="mb-3">
      <label class="form-label">Category</label>
      <select
        class="form-select"
        name="category"
        [(ngModel)]="article.category"
        #category="ngModel"
        required>

          <option value="">Select category</option>
          <option value="National">National</option>
          <option value="Economy">Economy</option>
          <option value="Sports">Sports</option>
          <option value="Technology">Technology</option>
          <option value="International">International</option>
      </select>
      <p
        *ngIf="category.invalid && category.touched"
        class="text-danger">
          Category is required.
      </p>
    </div>

    <!-- IMAGE -->
    <div class="mb-3">
      <label class="form-label">Image</label>
      <input
        type="file"
        class="form-control"
        (change)="fileChangeEvent($event)">
    
        <!--Image validation message-->
          <p
            *ngIf="articleForm.valid && !article.image_data"
            class="text-danger mt-2">
              Image is required.
          </p>

        <!--Current article image-->
          <img
            [hidden]="!article.image_data"
            [src]="'data:' + article.image_media_type + ';base64,' + article.image_data"
            class="img-fluid mt-2"
            style="max-height: 200px;"
            alt="Current article image">
    </div>
  
    <!-- ABSTRACT -->
    <div class="mb-3">
      <label class="form-label">Abstract</label>
      <textarea
        class="form-control"
        rows="3"
        name="abstract"
        [(ngModel)]="article.abstract"
        #abstract="ngModel"
        required>
      </textarea>

      <p
        *ngIf="abstract.invalid && abstract.touched"
        class="text-danger">
          Abstract is required.
      </p>
    </div>
  
    <!-- BODY -->
    <div class="mb-3">
      <label class="form-label">Body</label>
      <textarea
        class="form-control"
        rows="8"
        name="body"
        [(ngModel)]="article.body">
      </textarea>
    </div>

<!--Form buttons-->
    <div class="mt-3 d-flex gap-2">
      <!--Save or create-->
      <button
        type="button"
        class="btn btn-primary"
        (click)="saveArticle()"
        [disabled]="articleForm.invalid || !article.image_data"
      >
        {{ id ? 'Save' : 'Create' }}
      </button>
      
      </div>
    </form>
</div>

<ng-template #loading>
  <div class="container py-4">
    <p>Loading article...</p>
  </div>
</ng-template>